results/*
.task/*
**.pyc
*.egg-info
__pycache__/
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
.eggs/
*.so
*.dylib
*.dll
*.log
*.pot
*.mo
*.compiled
*.mypy_cache/
*.tox/
*.nox/
*.coverage
.coverage.*
.cache/
.pytest_cache/
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache/
.pytest_cache/
htmlcov/